/* ===== GLOBAL ELEMENT STYLES ======= */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
}

a {
text-decoration: none;
color: black;
}

a:hover {
    color: rgb(91,192,222)
}

h2 {
  margin: 2% 0;
  font-size: 1em;
}

/* ==== PAGE STYLES ===== */

.video__list {
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-flex-flow: row wrap;
  margin: 0 5%;
}

header > div {
	background-size: cover !important;
	transition: background-image 0.2s ease-in-out;
}

header .fa-chevron-left,
header .fa-chevron-right {
  color: white;
  margin: 0;
  position: relative;
  -webkit-transform: translateY(-600%);
  cursor: pointer;
}

header:hover div {
    position: relative;
    color: white;
    height: 500px;
    background: rgba(0,0,0,0.3)
}

header i:nth-child(2) {
	float: right;
}

header:hover h2 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-100%);
}

header:hover button {
	display: inline-block;
    position: absolute;
    top: 60%;
    -webkit-transform: translateX(-50%);
}

.header-info {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.header-info  button {
	display: none;
	position: relative;
	top: 60%;
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	background: rgba(91,192,222,1);
    color: white;
    font-size: 1em;
}

.header-info  button:hover {
	background: rgba(63,134,155,1);
	cursor: pointer;
}

.header-info i {
	margin-right: 10px;
}

.section-title {
	margin-left: 6.25%;
	font-size: 24px;
}

.section-title > i {
	font-size: 20px;
	margin-left: 5px;
}

.video__preview {
  position: relative;
  cursor: pointer;
}

.video__preview > i {
  opacity: 0;
  position: absolute;
  width: 42px;
  height: 46px;
  border-radius: 5px;
  padding: 5px 15px;
  background: rgba(0,0,0,0.7);
  color: rgba(255,255,255,0.9);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video__preview > i:hover {
  color: rgba(91,192,222,0.9);
  cursor: pointer;
}

.video__preview:hover i,
.video__preview:hover span {
  opacity: 1;
  transition: 0.2s linear;
}

.video__preview span {
  opacity: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 5px;
}


.video__info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video__info > .user-info{
  display: flex;
  align-items: center;
  font-size: 12px;
}

.user-link {
	margin: 0 2.5%;
}



.page-title {

  text-align: center;
  color: white;
}

/* ==== RESPONSIVE STYLES ====== */

@media screen and (min-width: 1480px) {
	.video {
	  width: 17.5%;
	  padding: 0 1.25% 2.5% 1.25%;
	}

	.header-info > h2 {
	  margin: 0;
	  color: white;
	  font-size: 2em;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1480px)  {
	.video {
	  width: 22.5%;
	  padding: 0 1.25% 2.5% 1.25%;
	}

	.header-info > h2 {
	  margin: 0;
	  color: white;
	  font-size: 1.75em;
	}

}

@media screen and (min-width: 468px) and (max-width: 1024px)  {
	.video {
	  width: 45%;
	  padding: 0 2.5% 2.5% 2.5%;
	}

	.header-info > h2 {
		margin: 0;
		color: white;
		font-size: 1.25em;
	}
}

@media screen and (min-width: 0px) and (max-width: 468px)  {
	.video {
	  width: 90%;
	  padding: 0 5% 2.5% 5%;
	}

	.header-info > h2 {
	  margin: 0;
	  color: white;
	  font-size: 0.75em;
	}
}
